.user-profile {
  background-image: linear-gradient(#f778be,#ece6dc);;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 230vh;
  height: 110vh;
  margin: 0 auto;
}
.user-profile.profile-info.profile-image{
  size: 50%;
  margin-left: auto;
}
.profile-header {
  position: top;
  top: 0; 
  right: 0; 
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top:10px;
  right:10px;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40%;
  height: 10px;
  position: center;
  transform: translate(50%, 50%);

}

.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 5%;
  padding: 5px;
  transform: translate(400%, 400%);
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  padding: 5px;
  transform: translate(300%, 300%);
  
}

.view-profile-button {
  background-color: #f778be;
  color: rgb(14, 3, 3);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(100%, 100%);
}

.user-details {
  margin: 30px 0;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.download-button button {
  background-color: #f778be;
  padding: 4px 4px;
  border-radius: 5px;
}

jsx:
import React from 'react';
// import 'C:\\Users\\schandras5\\sample\\src\\App.css'

const Search = () => {
  return (
    <div className="user-profile">
      <div className="profile-header">
        <img src="./profilecircle.png" alt="Logo" className="logo" />
        <input type="text" placeholder="Search" className="search-bar" />
      </div>
      <div className="profile-info">
        <img src="./profile logo.jpg" alt="Profile" className="profile-image" />
        <button className="view-profile-button">View Profile</button>
      </div>
      <div className="user-details">
        <div className="detail">
          <label>Name:</label>
          <span>__________</span>
        </div>
        <div className="detail">
          <label>Location:</label>
          <span>____________</span>
        </div>
      </div>
      <div className="download-button">
        <label> Medical Prescription:</label>
        <button>Download as PDF</button>
      </div>
      <div className="profile-info">
        <img src="./profile logo.jpg" alt="Profile" className="profile-image" />
        <button className="view-profile-button">View Profile</button>
      </div>
      <div className="user-details">
        <div className="detail">
          <label>Name:</label>
          <span>__________</span>
        </div>
        <div className="detail">
          <label>Location:</label>
          <span>____________</span>
        </div>
      </div>
      <div className="download-button">
        <label> Medical Prescription:</label>
        <button>Download as PDF</button>
      </div>
      
    </div>
    
  );
};

export default Search;
js:
  import React from 'react';
import Search from './search';
import 'C:\\Users\\schandras5\\sample\\src\\App.css';
function App() {
  return (
    <div className="App">
      <Search />
    </div>
  );
}

export default App;
Css:

  
.nav-bar {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-self: center;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.nav-logo h1 {
    font-weight: 600;
}

.loggedin-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loggedin-user p {
    font-weight: 600;

}
.user-profile {
  background-image: linear-gradient(#f778be, #ece6dc, #ece6dc, #ffffff);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.search-bar {
  padding: 20px;
  border: none;
  border-radius: 50px;
  width: 70%;
  outline: none;
  margin: auto;
}

.user-details {
  margin: 30px 0;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}


.profile-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.user-profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.download-btn{
    background-color: #f778be;
    color: rgb(14, 3, 3);
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
}


.detail {
    display: flex;
    align-items: center;
  }
  
.profile-image {
}

.profile-info{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.view-profile-button {
  background-color: #f778be;
  width: 100%;
  color: rgb(14, 3, 3);
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
}
  index.css
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
css:

  
.nav-bar {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  align-self: center;
}

.nav-links {
  display: flex;
  gap: 5rem;
}

.nav-links a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.nav-logo h1 {
    font-weight: 600;
}

.loggedin-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loggedin-user p {
    font-weight: 600;

}
.user-profile {
  background-image: linear-gradient(#f778be, #ece6dc, #ece6dc, #ffffff);
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.profile-search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.search-bar {
  padding: 20px;
  border: none;
  border-radius: 50px;
  width: 70%;
  outline: none;
  margin: auto;
}

.user-details {
  margin: 30px 0;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.users {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-top: 5rem;
}


.profile-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.user-profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.download-btn{
    background-color: #f778be;
    color: rgb(14, 3, 3);
    border: none;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 5px;
}


.detail {
    display: flex;
    align-items: center;
  }
  
.profile-image {
}

.profile-info{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.view-profile-button {
  background-color: #f778be;
  width: 100%;
  color: rgb(14, 3, 3);
  border: none;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
}

  index.css

  body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

