.user-profile {
  background-image: linear-gradient(#f778be,#ece6dc);;
  padding: 10px;
  border-radius: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 230vh;
  height: 110vh;
  margin: 0 auto;
}
.user-profile.profile-info.profile-image{
  size: 50%;
  margin-left: auto;
}
.profile-header {
  position: top;
  top: 0; 
  right: 0; 
}

.logo {
  width: 40px;
  height: 40px;
  padding: 10px;
  position: absolute;
  top:10px;
  right:10px;
}

.search-bar {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40%;
  height: 10px;
  position: center;
  transform: translate(50%, 50%);

}

.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 5%;
  padding: 5px;
  transform: translate(400%, 400%);
}
.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 5%;
  padding: 5px;
  transform: translate(300%, 300%);
  
}

.view-profile-button {
  background-color: #f778be;
  color: rgb(14, 3, 3);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(100%, 100%);
}

.user-details {
  margin: 30px 0;
}

.detail {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

.download-button button {
  background-color: #f778be;
  padding: 4px 4px;
  border-radius: 5px;
}
